@use '../global/' as g;

.js-fadePic1 {

  position: relative;
  overflow: hidden;
  transform: translateY(10%);
  opacity: 0;
  transition: all .7s ease;

  img {
    transform-origin: center;
    transform: scale(1.05);
    transition: all .7s ease;
  }

  &:hover {
    img {
      transform: scale(1.05)!important;
    }
  }

  &.is-fade {
    transform: translateY(0%);
    opacity: 1;

    img {
      transform: scale(1);
    }
  }

  &:nth-child(even),
  &:nth-child(even) img {
    transition-delay: .3s;
  }
}

.js-fadePic2 {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F9F8EB;
    z-index: 1;
  }

  img {
    filter: saturate(10%) blur(1px);
  }

  &.is-show {

    &::before {
      width: 0;
      transition: all .5s ease;
    }

    img {
      filter: saturate(100%) blur(0);
      transition: all .8s .1s ease;
    }
  }

  &:nth-child(even) {
    &.is-show {

      &::before {
        transition: all .5s .3s ease;
      }

      img {
        transition: all .8s .4s ease;
      }
    }
  }
}

.js-fadePic3 {

  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: all .7s ease;

  img {
    transform-origin: center;
    transform: scale(1.2);
    transition: all .8s ease;
  }

  &.is-fade {
    opacity: 1;

    img {
      transform: scale(1);
    }
  }

  &:nth-child(even),
  &:nth-child(even) img {
    transition-delay: .3s;
  }
}


.js-fadeTxt1 {

  &__line {
    display: inline-block;
    overflow: hidden;
  
    &_inner {
      display: inline-block;
      opacity: 0;
      transform: translateY(.5em);
      transition: all .7s ease;
    }
  
    &:nth-of-type(2) .js-fadeTxt1__line_inner {
      transition-delay: .2s;
    }
  
    &:nth-of-type(3) .js-fadeTxt1__line_inner {
      transition-delay: .4s;
    }
  }

  &.is-fade .js-fadeTxt1__line_inner {
    opacity: 1;
    transform: translateY(0);
  }
}

.js-fadeTxt2 {
  transform-origin: center;

  &.c-text1 {
    margin-top: 40px;
    color: g.$accent_color;
  }

  &__sec {
    padding-bottom: 120px;

    @include g.mq_up-pc {
      padding-bottom: 240px;
    }
  }
}

.is-show {
  display: block!important;
}

.is-fadeout {
  opacity: 0;
}

.js-fadeBg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;

  @include g.mq_up-pc {
    height: 450px;
  }

  &__inner {
    width: 80%;
    padding: 80px 0;
    background: rgba($color: #eee, $alpha: 0.7);
    border-radius: 10px;

    @include g.mq_up-pc {
      padding: 150px 0;
    }
  }

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0;
    transition: opacity .3s;
  }

  &:nth-of-type(1),
  &:nth-of-type(4),
  &:nth-of-type(7) {

    &::before {
      background: #fff;
    }
  }

  &:nth-of-type(2),
  &:nth-of-type(5) {

    &::before {
      background: #f7df1c;
    }
  }

  &:nth-of-type(3),
  &:nth-of-type(6) {

    &::before {
      background: #abb2bf;
    }
  }

  &.is-fade {

    &::before {
      opacity: 1;
    }
  }
}