<header class="l-header">
  <div class="l-header__inner">
    <a href="<%= meta.filePath %>" class="l-header__logo">
      <span class="l-header__logo_icon">
        <img src="<%= meta.filePath %>assets/images/icon.svg" alt="">
      </span>
      JS SNIPPETS
    </a>
  </div>
</header>