@use '../global/' as g;

.c-btn1 {
  display: block;
  width: 180px;
  padding: 15px 0 13px;
  background: g.$accent_color;
  border-radius: 20px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0;
}