@use '../global/' as g;

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 2rem;
  z-index: 5;


  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 60px;
    margin: 0 auto;

    @include g.mq_up-pc {
      width: calc(100% - 160px);
      height: 80px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    color: #333;
    font-weight: 700;
    line-height: 1;

    @include g.mq_up-pc {
      font-size: 2.4rem;
    }

    &_icon {
      display: inline-block;
      width: 1.1em;
      margin-right: 0.4em;

      img {
        vertical-align: middle;
      }
    }
  }
}